infra/azure/workflows/secret-rotation/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence_0200KST": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": { "hours": ["17"], "minutes": [0] },
          "timeZone": "UTC"
        }
      }
    },
    "actions": {
      "List_Secrets": {
        "type": "Http",
        "inputs": {
          "method": "GET",
          "uri": "@{concat(appsetting('KEY_VAULT_URI'), 'secrets?api-version=7.4')}",
          "authentication": {
            "type": "ManagedServiceIdentity",
            "identity": "@appsetting('LA_IDENTITY_ID')",
            "audience": "https://vault.azure.net"
          }
        }
      },
      "Filter_Expiring": {
        "type": "Query",
        "runAfter": { "List_Secrets": ["Succeeded"] },
        "inputs": {
          "from": "@body('List_Secrets')?['value']",
          "where": "@not(equals(item()?['attributes']?['exp'], null))"
        }
      },
      "Build_Rows": {
        "type": "Select",
        "runAfter": { "Filter_Expiring": ["Succeeded"] },
        "inputs": {
          "from": "@body('Filter_Expiring')",
          "select": "@concat('<tr><td>', last(split(item()?['id'], '/')), '</td><td>', formatDateTime(addSeconds('1970-01-01T00:00:00Z', item()?['attributes']?['exp']), 'yyyy-MM-dd'), '</td><td>', string(div(sub(ticks(addSeconds('1970-01-01T00:00:00Z', item()?['attributes']?['exp'])), ticks(utcNow())), 864000000000)), '일</td></tr>')"
        }
      },
      "Notify_DevOps": {
        "type": "Http",
        "operationOptions": "DisableAsyncPattern",
        "runAfter": { "Build_Rows": ["Succeeded"] },
        "inputs": {
          "method": "POST",
          "uri": "@appsetting('ACS_EMAIL_URI')",
          "authentication": {
            "type": "ManagedServiceIdentity",
            "identity": "@appsetting('LA_IDENTITY_ID')",
            "audience": "https://communication.azure.com"
          },
          "body": {
            "senderAddress": "@appsetting('ACS_SENDER')",
            "recipients": { "to": "@json(appsetting('DIGEST_RECIPIENTS'))" },
            "content": {
              "subject": "[BOOKFLOW] Key Vault 시크릿 만료 점검",
              "html": "@concat('<h3>만료 예정 시크릿</h3><table border=\"1\" cellpadding=\"6\" style=\"border-collapse:collapse\"><tr><th>시크릿 이름</th><th>만료일</th><th>남은 일수</th></tr>', join(body('Build_Rows'), ''), '</table><p style=\"color:gray;font-size:12px\">이 메일에는 시크릿 값이 포함되지 않습니다.</p>')"
            },
            "importance": "normal"
          }
        }
      }
    }
  },
  "kind": "Stateful"
}
