infra/azure/workflows/secret-rotation/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "digestRecipients": {
        "defaultValue": "[{\"address\":\"ms8405493@gmail.com\",\"displayName\":\"본사/경영진\"},{\"address\":\"rladudgjs0427@gmail.com\",\"displayName\":\"물류센터\"},{\"address\":\"admin@bleach10905gmail.onmicrosoft.com\",\"displayName\":\"지점\"}]",
        "type": "String"
      }
    },
    "triggers": {
      "Recurrence_0200KST": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": { "hours": ["17"], "minutes": [0] },
          "timeZone": "UTC"
        }
      }
    },
    "actions": {
      "List_Secrets": {
        "type": "Http",
        "inputs": {
          "method": "GET",
          "uri": "https://kv-bookflowmj.vault.azure.net/secrets?api-version=7.4",
          "authentication": {
            "type": "ManagedServiceIdentity",
            "identity": "/subscriptions/e98a94bb-7532-4e49-8a36-bc42e30d5a81/resourcegroups/rg-bookflow/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id-bookflowmj-logicapp",
            "audience": "https://vault.azure.net"
          }
        }
      },
      "Filter_Expiring": {
        "type": "Query",
        "runAfter": { "List_Secrets": ["Succeeded"] },
        "inputs": {
          "from": "@body('List_Secrets')?['value']",
          "where": "@not(equals(item()?['attributes']?['exp'], null))"
        }
      },
      "Build_Rows": {
        "type": "Select",
        "runAfter": { "Filter_Expiring": ["Succeeded"] },
        "inputs": {
          "from": "@body('Filter_Expiring')",
          "select": "@concat('<tr><td>', last(split(item()?['id'], '/')), '</td><td>', formatDateTime(addSeconds('1970-01-01T00:00:00Z', item()?['attributes']?['exp']), 'yyyy-MM-dd'), '</td><td>', string(div(sub(ticks(addSeconds('1970-01-01T00:00:00Z', item()?['attributes']?['exp'])), ticks(utcNow())), 864000000000)), '일</td></tr>')"
        }
      },
      "Notify_DevOps": {
        "type": "Http",
        "operationOptions": "DisableAsyncPattern",
        "runAfter": { "Build_Rows": ["Succeeded"] },
        "inputs": {
          "method": "POST",
          "uri": "https://acs-bookflowmj.japan.communication.azure.com/emails:send?api-version=2023-03-31",
          "authentication": {
            "type": "ManagedServiceIdentity",
            "identity": "/subscriptions/e98a94bb-7532-4e49-8a36-bc42e30d5a81/resourcegroups/rg-bookflow/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id-bookflowmj-logicapp",
            "audience": "https://communication.azure.com"
          },
          "body": {
            "senderAddress": "DoNotReply@2ccec47b-b5b4-41a4-a704-c9f38070133a.azurecomm.net",
            "recipients": { "to": "@json(parameters('digestRecipients'))" },
            "content": {
              "subject": "[BOOKFLOW] Key Vault 시크릿 만료 점검",
              "html": "@concat('<h3>만료 예정 시크릿</h3><table border=\"1\" cellpadding=\"6\" style=\"border-collapse:collapse\"><tr><th>시크릿 이름</th><th>만료일</th><th>남은 일수</th></tr>', join(body('Build_Rows'), ''), '</table><p style=\"color:gray;font-size:12px\">이 메일에는 시크릿 값이 포함되지 않습니다.</p>')"
            },
            "importance": "normal"
          }
        }
      }
    }
  }
}
