infra/azure/workflows/stock-arrival/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "description": "운송 완료 알림. 도착지 지점·물류센터에서 대시보드의 운송완료·전체 재고도착 확인 버튼 클릭 시(IN_TRANSIT→EXECUTED), notification-svc가 StockArrivalPending 이벤트로 호출. 출발지 지점·물류센터에 운송 완료 메일 발송.",
    "parameters": {
      "ACS_EMAIL_URI":  { "type": "string", "defaultValue": "" },
      "LA_IDENTITY_ID": { "type": "string", "defaultValue": "" },
      "ACS_SENDER":     { "type": "string", "defaultValue": "" },
      "DASHBOARD_URL":  { "type": "string", "defaultValue": "" }
    },
    "triggers": {
      "manual": {
        "description": "notification-svc가 StockArrivalPending 이벤트 발생 시 SAS URL로 POST 호출.",
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "event_type":     { "type": "string" },
              "severity":       { "type": "string" },
              "correlation_id": { "type": "string" },
              "payload": {
                "type": "object",
                "properties": {
                  "order_id":        { "type": "string" },
                  "isbn13":          { "type": "string" },
                  "title":           { "type": "string" },
                  "source_location": { "type": "string" },
                  "target_location": { "type": "string" },
                  "qty":             { "type": "integer" },
                  "executed_at":     { "type": "string" }
                }
              },
              "recipients": { "type": "array" }
            }
          }
        }
      }
    },
    "actions": {
      "Send_StockArrival": {
        "description": "출발지 지점/물류센터에 운송 완료 메일 발송.",
        "type": "Http",
        "operationOptions": "DisableAsyncPattern",
        "inputs": {
          "retryPolicy": {
            "type": "fixed",
            "count": 2,
            "interval": "PT15S"
          },
          "method": "POST",
          "uri": "@parameters('ACS_EMAIL_URI')",
          "authentication": {
            "type": "ManagedServiceIdentity",
            "identity": "@parameters('LA_IDENTITY_ID')",
            "audience": "https://communication.azure.com"
          },
          "body": {
            "senderAddress": "@parameters('ACS_SENDER')",
            "recipients": { "to": "@triggerBody()?['recipients']" },
            "content": {
              "subject": "[운송완료] @{triggerBody()?['payload']?['qty']}권 @{triggerBody()?['payload']?['isbn13']} — @{coalesce(triggerBody()?['payload']?['target_location'], '도착지')} 수령 완료",
              "html": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head><body><h2 style=\"color:#188038;\">도서 운송이 완료되었습니다</h2><p>귀 측에서 출발한 도서가 도착지에 정상 수령되었습니다.</p><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:14px;\"><thead style=\"background:#f1f3f4;\"><tr><th>항목</th><th>내용</th></tr></thead><tbody><tr><td>ISBN</td><td>@{triggerBody()?['payload']?['isbn13']}</td></tr><tr><td>도서명</td><td>@{coalesce(triggerBody()?['payload']?['title'], '—')}</td></tr><tr><td>운송 수량</td><td><strong>@{triggerBody()?['payload']?['qty']}권</strong></td></tr><tr><td>출발지 (귀하)</td><td><strong>@{coalesce(triggerBody()?['payload']?['source_location'], '—')}</strong></td></tr><tr><td>도착지</td><td>@{coalesce(triggerBody()?['payload']?['target_location'], '—')}</td></tr><tr><td>수령 완료 시각</td><td>@{coalesce(triggerBody()?['payload']?['executed_at'], formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm'))}</td></tr><tr><td>주문 ID</td><td style=\"font-size:12px;\">@{triggerBody()?['payload']?['order_id']}</td></tr></tbody></table><br/><p><a href=\"@{parameters('DASHBOARD_URL')}\" style=\"background:#188038;color:#fff;padding:12px 24px;text-decoration:none;border-radius:4px;font-weight:bold;\">BookFlow 대시보드 바로가기</a></p><hr/><p style=\"font-size:12px;color:#666;\">본 메일은 BookFlow 시스템에서 자동 발송되었습니다.</p></body></html>"
            },
            "importance": "normal"
          }
        }
      },
      "Response_Success": {
        "type": "Response",
        "runAfter": {
          "Send_StockArrival": ["Succeeded"]
        },
        "inputs": {
          "statusCode": 200,
          "body": { "result": "ok" }
        }
      },
      "Response_Failed": {
        "type": "Response",
        "runAfter": {
          "Send_StockArrival": ["Failed", "Skipped"]
        },
        "inputs": {
          "statusCode": "@if(equals(outputs('Send_StockArrival')?['statusCode'], 429), 429, 502)",
          "body": {
            "result": "error",
            "acs_status": "@{outputs('Send_StockArrival')?['statusCode']}",
            "message": "ACS email delivery failed"
          }
        }
      },
      "Response_TimedOut": {
        "type": "Response",
        "runAfter": {
          "Send_StockArrival": ["TimedOut"]
        },
        "inputs": {
          "statusCode": 504,
          "body": {
            "result": "timeout",
            "message": "ACS email request timed out after retries"
          }
        }
      }
    }
  },
  "kind": "Stateful"
}
