infra/azure/workflows/notification/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "description": "긴급 이벤트 알림 전용. SpikeUrgent(ECS SNS 급상승 → 본사 긴급발주 요청), NegotiationDelay(협의 지연), DailyPlanFinalized(의사결정 완료·운송 시작) 3종. notification-svc가 HTTP POST로 호출.",
    "parameters": {
      "ACS_EMAIL_URI":  { "type": "string", "defaultValue": "" },
      "LA_IDENTITY_ID": { "type": "string", "defaultValue": "" },
      "ACS_SENDER":     { "type": "string", "defaultValue": "" },
      "DASHBOARD_URL":  { "type": "string", "defaultValue": "" }
    },
    "triggers": {
      "manual": {
        "description": "notification-svc가 SAS URL로 POST 호출. body: { event_type, severity, payload, recipients[] }",
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "event_type": { "type": "string" },
              "severity":   { "type": "string" },
              "payload":    { "type": "object" },
              "recipients": { "type": "array" }
            },
            "required": ["event_type", "severity", "payload", "recipients"]
          }
        }
      }
    },
    "actions": {
      "Switch_EventType": {
        "description": "event_type 값으로 분기. 미구현 타입은 default(no-op)로 처리된다.",
        "type": "Switch",
        "expression": "@triggerBody()?['event_type']",
        "cases": {
          "DailyPlanFinalized": {
            "case": "DailyPlanFinalized",
            "actions": {
              "Email_DailyPlanFinalized": {
                "description": "의사결정 완료 알림. 수신자: 본사+물류센터+지점.",
                "type": "Http",
                "operationOptions": "DisableAsyncPattern",
                "inputs": {
                  "method": "POST",
                  "uri": "@parameters('ACS_EMAIL_URI')",
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "@parameters('LA_IDENTITY_ID')",
                    "audience": "https://communication.azure.com"
                  },
                  "body": {
                    "senderAddress": "@parameters('ACS_SENDER')",
                    "recipients": { "to": "@triggerBody()?['recipients']" },
                    "content": {
                      "subject": "[최종확정] 의사결정 완료 · 운송 시작 가능",
                      "html": "<p>당일 모든 의사결정이 완료되었습니다. 운송을 시작할 수 있습니다.</p><ul><li><a href=\"@{parameters('DASHBOARD_URL')}\">BookFlow 대시보드 바로가기</a></li></ul>"
                    },
                    "importance": "normal"
                  }
                }
              }
            }
          },
          "SpikeUrgent": {
            "case": "SpikeUrgent",
            "actions": {
              "Email_SpikeUrgent": {
                "description": "ECS SNS 데이터 급상승 감지 — 본사+물류센터에 긴급발주 요청 메일 발송.",
                "type": "Http",
                "operationOptions": "DisableAsyncPattern",
                "inputs": {
                  "method": "POST",
                  "uri": "@parameters('ACS_EMAIL_URI')",
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "@parameters('LA_IDENTITY_ID')",
                    "audience": "https://communication.azure.com"
                  },
                  "body": {
                    "senderAddress": "@parameters('ACS_SENDER')",
                    "recipients": { "to": "@triggerBody()?['recipients']" },
                    "content": {
                      "subject": "[긴급발주요청] ECS SNS 급상승 감지 — @{coalesce(triggerBody()?['payload']?['isbn13'], '도서')} 긴급 재고 확인 필요",
                      "html": "<h2 style=\"color:#d93025;\">[긴급발주요청] ECS SNS 데이터 급상승 감지</h2><p>ECS의 SNS 데이터에서 아래 도서의 화제성 지표가 급상승하였습니다. <strong>24시간 내 매출 폭증 가능성</strong>이 있으므로 긴급 발주 검토가 필요합니다.</p><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:14px;\"><thead style=\"background:#f1f3f4;\"><tr><th>항목</th><th>내용</th></tr></thead><tbody><tr><td>ISBN</td><td>@{coalesce(triggerBody()?['payload']?['isbn13'], '—')}</td></tr><tr><td>도서명</td><td>@{coalesce(triggerBody()?['payload']?['title'], '—')}</td></tr><tr><td>감지 위치</td><td>@{coalesce(triggerBody()?['payload']?['location'], '—')}</td></tr><tr><td>현재 재고</td><td>@{coalesce(triggerBody()?['payload']?['current_stock'], '확인 필요')}</td></tr><tr><td>감지 시각</td><td>@{coalesce(triggerBody()?['payload']?['detected_at'], formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm'))}</td></tr></tbody></table><br/><h3>조치 사항</h3><ul><li>현재 재고 수준 즉시 확인</li><li>긴급 발주 수량 산정 후 대시보드에서 발주 요청</li><li>물류센터 긴급 출고 일정 협의</li></ul><br/><p><a href=\"@{parameters('DASHBOARD_URL')}\" style=\"background:#d93025;color:#fff;padding:12px 24px;text-decoration:none;border-radius:4px;font-weight:bold;\">대시보드에서 긴급발주 처리하기</a></p><hr/><p style=\"font-size:12px;color:#666;\">본 메일은 BookFlow ECS 모니터링 시스템에서 자동 발송되었습니다.</p>"
                    },
                    "importance": "high"
                  }
                }
              }
            }
          },
          "NegotiationDelay": {
            "case": "NegotiationDelay",
            "actions": {
              "Email_NegotiationDelay": {
                "description": "협의 지연 알림. 수신자: 본사+물류센터.",
                "type": "Http",
                "operationOptions": "DisableAsyncPattern",
                "inputs": {
                  "method": "POST",
                  "uri": "@parameters('ACS_EMAIL_URI')",
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "@parameters('LA_IDENTITY_ID')",
                    "audience": "https://communication.azure.com"
                  },
                  "body": {
                    "senderAddress": "@parameters('ACS_SENDER')",
                    "recipients": { "to": "@triggerBody()?['recipients']" },
                    "content": {
                      "subject": "[협의지연] 처리 대기 항목 확인 필요",
                      "html": "<p>협의가 지연되고 있습니다. 확인 및 조치가 필요합니다.</p><ul><li><a href=\"@{parameters('DASHBOARD_URL')}\">BookFlow 대시보드 바로가기</a></li></ul>"
                    },
                    "importance": "high"
                  }
                }
              }
            }
          },
          "NewBookRequest": {
            "case": "NewBookRequest",
            "actions": {
              "Email_NewBookRequest": {
                "type": "Http",
                "operationOptions": "DisableAsyncPattern",
                "inputs": {
                  "method": "POST",
                  "uri": "@parameters('ACS_EMAIL_URI')",
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "@parameters('LA_IDENTITY_ID')",
                    "audience": "https://communication.azure.com"
                  },
                  "body": {
                    "senderAddress": "@parameters('ACS_SENDER')",
                    "recipients": { "to": "@triggerBody()?['recipients']" },
                    "content": {
                      "subject": "@{if(equals(triggerBody()?['payload']?['stage'],'APPROVED'), concat('[신간 편입 승인] ', coalesce(triggerBody()?['payload']?['title'], triggerBody()?['payload']?['isbn13'], '신간'), ' 발주 명세'), if(equals(triggerBody()?['payload']?['stage'],'REJECTED'), concat('[신간 편입 거절] ', coalesce(triggerBody()?['payload']?['title'], triggerBody()?['payload']?['isbn13'], '신간')), concat('[신간 신청 접수] ', coalesce(triggerBody()?['payload']?['title'], triggerBody()?['payload']?['isbn13'], '신간'))))}",
                      "html": "<h2>BookFlow 신간 처리 알림</h2><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:14px;\"><tbody><tr><td>ISBN</td><td>@{coalesce(triggerBody()?['payload']?['isbn13'], '—')}</td></tr><tr><td>도서명</td><td>@{coalesce(triggerBody()?['payload']?['title'], '—')}</td></tr><tr><td>상태</td><td>@{coalesce(triggerBody()?['payload']?['stage'], '접수')}</td></tr></tbody></table><br/>@{if(equals(triggerBody()?['payload']?['stage'],'APPROVED'), concat('<p>신간 편입이 <b>승인</b>되었습니다. 권역별 발주 수량 — WH1: ', string(coalesce(triggerBody()?['payload']?['wh1_qty'],0)), '권 / WH2: ', string(coalesce(triggerBody()?['payload']?['wh2_qty'],0)), '권. 입고 일정은 추후 안내드립니다.</p>'), if(equals(triggerBody()?['payload']?['stage'],'REJECTED'), concat('<p>신간 편입이 <b>거절</b>되었습니다. 사유: ', coalesce(triggerBody()?['payload']?['reason'],'-'), '</p>'), '<p>신간 신청이 정상 접수되어 검토 중입니다. 처리 결과는 별도 안내드립니다.</p>'))}<hr/><p style=\"font-size:12px;color:#666;\">본 메일은 BookFlow 신간 편입 시스템에서 자동 발송되었습니다.</p>"
                    },
                    "importance": "normal"
                  }
                }
              }
            }
          }
        },
        "default": { "actions": {} }
      },
      "Response_Success": {
        "type": "Response",
        "runAfter": {
          "Switch_EventType": ["Succeeded", "Skipped"]
        },
        "inputs": {
          "statusCode": 200,
          "body": { "result": "ok" }
        }
      },
      "Response_Failed": {
        "type": "Response",
        "runAfter": {
          "Switch_EventType": ["Failed"]
        },
        "inputs": {
          "statusCode": 502,
          "body": {
            "result": "error",
            "message": "ACS email delivery failed"
          }
        }
      },
      "Response_TimedOut": {
        "type": "Response",
        "runAfter": {
          "Switch_EventType": ["TimedOut"]
        },
        "inputs": {
          "statusCode": 504,
          "body": {
            "result": "timeout",
            "message": "ACS email request timed out after retries"
          }
        }
      }
    }
  },
  "kind": "Stateful"
}
